<html>
<head>

    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <link rel="stylesheet" href="/update-driver/styles.css">
    <script src="/update-driver/code.js"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>


    <title>Редактирование транспортного средства</title>
</head>

<body>
<div style="display:flex;width:100%;">
    <form>
        <div style="width:100%;">
            <p>ИМЯ ФАМИЛИЯ</p>
            <input name="name" autofocus value="{{driver.fullName}}">
        </div>
        <div style="width:100%;">
            <p>НОМЕР МАШИНЫ</p>
            <input name="cardNumber" value="{{driver.carNumber}}">
        </div>

        <div style="width:100%">
            <p>ТИП АВТО</p>
            <select name="transportType">
                {{#each transportTypes}}
                    {{#if this.selected}}
                        <option selected="selected" value="{{this.id}}">{{this.title}}</option>
                    {{else}}
                        <option value="{{this.id}}">{{this.title}}</option>
                    {{/if}}
                {{/each}}
            </select>
        </div>

        <div style="width:100%">
            <p>ТЕЛЕФОН ДЛЯ СВЯЗИ</p>
            <input name="phone" value="{{driver.phone}}">
        </div>

        <p>
            <a>Сохранить</a>
        </p>
    </form>
</div>

</body>
</html>
